[user]
	name = Juskr04
	email = kushpavecha.imp@gmail.com
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/juskr/.gitignore
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
