@import "../omarchy/current/theme/waybar.css";

* {
  background-color: #000000;
  color: #FFFFFF;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 16px;
}

.modules-left {
  margin-left: 1px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 2px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 1;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-omarchy {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}
/* Styling for all workspace buttons */
#workspaces button {
    background-color: transparent;
    color: #ffffff; /* Default color for inactive workspaces */
}

/* Styling for the active (currently focused) workspace */
#workspaces button.active {
    background-color: #000000; /* Keep the background transparent */
    border: 1px solid #ffffff; /* This creates a 2px solid white border */
    color: #ffffff; /* Text color */
    padding: 0 5px; /* Adjust padding to give space between the number and the border */
}
